<div class="row">
  <div class="span12">
    <h1>All Stitches</h1>
    <br />
    <% @stitches.each do |stitch| %>
        <div class="thumbnail stitch_thumbnail">
          <div><%= get_status(stitch[1]['rejected'], stitch[1]['video']['h264']['status']) %></div>

          <%= link_to "#{stitch[1]['name']}", request_path(stitch[0]) %>
        </div>
    <% end %>
  </div>
</div>