<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "mindjet | demo", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "New Request", new_request_path %></li>
          <li><%= link_to "Stitches", requests_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>